<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:allowBackup="false">
        
        <!-- Main Activity with App List and Settings -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Color Settings Activity -->
        <activity
            android:name=".ColorSettingsActivity"
            android:label="Color Settings"
            android:exported="false" />
        
        <!-- Log Viewer Activity -->
        <activity
            android:name=".LogActivity"
            android:label="Logs"
            android:exported="false" />
        
        <!-- Xposed Module Metadata -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        
    </application>

</manifest>
